/* .ant-list-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
} */
@import 'antd/dist/antd.css';

.ant-list-items{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 50px;
}

.ant-list-items .ant-list-item{
    justify-self: center;
}
@media(max-width: 1100px){
    .ant-list-items{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media(max-width: 640px){
    .ant-list-items{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
